<!DOCTYPE html>
<html>
  <head>
    <title>BlogComments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <div class="navbar">
      <div class="container">
        <div class="navlink">
          <%= link_to 'Blogs', blogs_path %>
        </div>
        <% unless user_signed_in? %>
          <div class="navlink">
            <%= link_to 'Login', new_user_session_path %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="navlink">
            <%= link_to 'Logout', destroy_user_session_path , :method=> :delete %>
          </div>
          <div class="navlink">
            Name: <%= current_user.name %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
